/* Adaptation of different font sizes for different devices */
@media only screen and (min-width: 320px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 600px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 900px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

/* Media, width adaptation on mobile devices */
@media (max-width: 768px) {
    header {
        background-color:#333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }

    button.menu-btn {
        background: none;
        border: none;
        color: #cccccc;
        font-size: 20px;
        transition: transform 0.1s ease-in-out;
    }

    /* Sidebar button rotation animation */
    .rotacionado {
        transform: rotate(90deg);
    }

    .sidebar {
        width: 75%;
        height: 100%;
        background-color: #222;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        right: -80%;
        transition: right 0.5s ease;
        z-index: 9999;
    }

    .sidebar.open {
        right: 0;
    }

    .sidebar.open .overlay {
        display: block;
    }

    .content {
        margin-right: 0;
        transition: margin-right 0.5s ease;
        z-index: 9998;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 9997;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #0096ff;
        font-family: "Lato", sans-serif;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #dddddd;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
        margin: 0;
        bottom: 20px;
        user-select: none;
    }

    .center {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        user-select: none;
        margin-top: 100px;
        animation: animation-img 1s ease;
    }

    main {
        text-align: justify;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 85%;
    }

    p.text {
        color: #bcbcbc;
        font-family: "Lato", sans-serif;
        user-select: none;
        margin-bottom: 150px;
        word-spacing: 1px;
        animation: animation-p-text 2s ease;
    }

    footer {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Media, width adaptation on computers */
@media (min-width: 769px) {
    header {
        background-color:#333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }

    button.menu-btn {
        background: none;
        border: none;
        color: #cccccc;
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
    }

    /* Sidebar button rotation animation */
    .rotacionado {
        transform: rotate(90deg);
    }

    .sidebar {
        width: 30%;
        height: 100%;
        background-color: #222;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        right: -35%;
        transition: right 0.5s ease;
        z-index: 9999;
    }

    .sidebar.open {
        right: 0;
    }

    .sidebar.open .overlay {
        display: block;
    }

    .content {
        margin-right: 0;
        transition: margin-right 0.5s ease;
        z-index: 9998;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 9997;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #0096ff;
        font-family: "Lato", sans-serif;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #dddddd;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
        margin: 0;
        bottom: 20px;
        user-select: none;
    }

    .center {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        user-select: none;
        margin-top: 50px;
        animation: animation-img 1s ease;
    }

    main {
        text-align: justify;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
        width: 50%;
    }

    p.text {
        color: #bcbcbc;
        font-family: "Lato", sans-serif;
        user-select: none;
        letter-spacing: 1px;
        animation: animation-p-text 2s ease;
    }

    footer {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Website content */
h1 {
    color: #a8a8a8;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    animation: animation-h1 1s ease-in;
}

h2 {
    color: #d3d3d3;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    user-select: none;
    animation: animation-h2 1s ease-in;
}

p.footer {
    color: #cccccc;
    font-family: "Roboto", sans-serif;
}

/* Developer link color */
a {
    color: #6f6969;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

@keyframes animation-h1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animation-img {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animation-h2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animation-p-text {
    from {
        transform: translateY(50px)
    }
    to {
        transform: translateY(0);
    }
}