/* Adaptation of different font sizes for different devices */
@media only screen and (min-width: 320px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 600px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 900px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

/* Media, width adaptation on mobile devices */
@media (max-width: 768px) {
    header {
        background-color:#333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0  0 10px #cdc9c9;
        user-select: none;
        -webkit-user-select: none;
    }

    button.menu-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
    }

    .sidebar {
        width: 250px;
        height: 100%;
        background-color: #222;
        position: fixed;
        top: 0;
        right: -260px;
        transition: right 0.3s ease;
    }

    .sidebar.open {
        right: 0;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #fff;
        margin-top: 50%;
        margin-bottom: -10%;
    }

    nav ul .p1 {
        color: #fff;
        margin-top: 15%;
    }

    .center {
        text-align: center;
        margin: 0 auto;
        margin-top: 300px;
        margin-bottom: 300px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px #cdc9c9;
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Media, width adaptation on computers */
@media (min-width: 769px) {
    header {
        background-color:#333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0  0 10px #cdc9c9;
        user-select: none;
        -webkit-user-select: none;
    }    

    button.menu-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
    }

    .sidebar {
        width: 250px;
        height: 100%;
        background-color: #222;
        position: fixed;
        top: 0;
        right: -260px;
        transition: right 0.3s ease;
    }

    .sidebar.open {
        right: 0;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #fff;
        margin-top: 50%;
        margin-bottom: -10%;
    }

    nav ul .p1 {
        color: #fff;
        margin-top: 15%;
    }

    .center {
        text-align: center;
        margin: 0 auto;
        margin-top: 300px;
        margin-bottom: 300px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px #cdc9c9;
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Website content */
nav {
    padding: 5px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #181111;
    user-select: none;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    user-select: none;
}

/* Developer link color */
a {
    text-decoration: none;
    color: #6f6969;
}

/* Sidebar paragraph */
p {
    user-select: none;
}