@media only screen and (min-width: 320px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 600px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 900px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media (max-width: 768px) {
    header {
        background-color:#333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        width: 88%;
        margin: 0 auto;
        box-shadow: 0  0 10px #cdc9c9;
        margin-top: 10px;
        user-select: none;
    }

    button {
        background-color: #333;
        color:#fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 44%;
        box-shadow: 0 0 10px #cdc9c9;
        margin-bottom: 70px;
        animation: background;
        transition: transform 0.1s;
    }

    /* Button animation for mobile devices */
    button:active {
        background: #33333300;
        transition: 0.1s;
        transform: scale(0.98);
    }

    img {
        display: none;
        width: 88%;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 25px;
        user-select: none;
        animation: fade-in 1s ease-out;
    }

    .button2 {
        background-color: #333;
        color:#fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 43%;
        box-shadow: 0 0 10px #cdc9c9;
        margin-bottom: 70px;
        animation: background;
        transition: transform 0.1s;
    }

    /* Button animation for mobile devices */
    .button2:active {
        background: #33333300;
        transition: 0.1s;
        transform: scale(0.98);
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        width: 88%;
        margin: 0 auto;
        box-shadow: 0 0 10px #cdc9c9;
        margin-top: 70px;
        margin-bottom: 10px;
        user-select: none;
    }
}

@media (min-width: 769px) {
    header {
        background-color:#333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        width: 50%;
        margin: 0 auto;
        box-shadow: 0  0 10px #cdc9c9;
        margin-top: 10px;
        user-select: none;
    }

    button {
        background-color: #333;
        color:#fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 25%;
        box-shadow: 0 0 10px #cdc9c9;
        margin-bottom: 70px;
        animation: background;
        transition: transform 1s;
    }

    /* Button animation for computers */
    button:hover {
        background: #3333339e;
        transition: 1s;
        transform: scale(0.98);
    }
    
    img {
        display: none;
        width: 50%;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 25px;
        user-select: none;
        animation: fade-in 1s ease-out;
    }

    .button2 {
        background-color: #333;
        color:#fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 25%;
        box-shadow: 0 0 10px #cdc9c9;
        margin-bottom: 70px;
        animation: background;
        transition: transform 1s;
    }

    /* Button animation for computers */
    .button2:hover {
        background: #3333339e;
        transition: 1s;
        transform: scale(0.98);
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        width: 50%;
        margin: 0 auto;
        box-shadow: 0 0 10px #cdc9c9;
        margin-top: 70px;
        margin-bottom: 10px;
        user-select: none;
    }
}

h1 {
    height: 40px;
}

.menu-btn {
    cursor: pointer;
    display: none;
    width: 10px;
}

.bar {
    width: 15px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
}

.nav-content {
    display: none;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        margin-left: 20px;
    }

    .nav-content {
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #474242;
        height: 35%;
        width: 50%;
        display: none;
        flex-direction: column;
        box-shadow: 0 0 0 1px #cdc9c9;
    }

    .close-btn {
        margin-left: 85%;
        font-size: 40px;
        padding: 0;
        width: 0;
        cursor: pointer;
    
    }

    .nav-content p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: 10px;
        text-align: left;
    }

    .nav-content a {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: 10px;
        text-align: left;
        color: white;
    }
}

@media screen and (min-width: 769px) {
    .menu-btn {
        display: block;
        margin-left: 20px;
    }

    .nav-content {
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #474242;
        height: 50%;
        width: 50%;
        display: none;
        flex-direction: column;
        box-shadow: 0 0 0 1px #cdc9c9;
    }

    .close-btn {
        margin-top: 10px;
        margin-left: 92%;
        font-size: 40px;
        padding: 0;
        width: 0;
        cursor: pointer;
    
    }

    .nav-content p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: 10px;
        text-align: left;
    }

    .nav-content a {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: 10px;
        text-align: left;
        color: white;
    }
}
  
nav {
    padding: 5px;
    text-align: center;
}

.gallery {
    text-align: center;
    margin: 1em 0;
}

.carousel {
    display: inline-block;
    overflow: visible;
    flex: 1;
}

#imagem1 {
    display: block;
}

/* Image animation */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}