/* Adaptation of different font sizes for different devices */
@media only screen and (min-width: 320px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 600px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 900px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #4b4747;
    }
}

/* Media, width adaptation on mobile devices */
@media (max-width: 768px) {
    header {
        background-color:#333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }

    button.menu-btn {
        background: none;
        border: none;
        color: #cccccc;
        font-size: 20px;
        transition: transform 0.1s ease-in-out;
    }

    /* Sidebar button rotation animation */
    .rotacionado {
        transform: rotate(90deg);
    }

    .sidebar {
        width: 75%;
        height: 100%;
        background-color: #222;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        right: -80%;
        transition: right 0.5s ease;
        z-index: 9999;
    }

    .sidebar.open {
        right: 0;
    }

    .sidebar.open .overlay {
        display: block;
    }

    .content {
        margin-right: 0;
        transition: margin-right 0.5s ease;
        z-index: 9998;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 9997;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #0096ff;
        font-family: "Lato", sans-serif;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #dddddd;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
        margin: 0;
        bottom: 20px;
        user-select: none;
    }

    img.dailyImage {
        display: none;
        width: 88%;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
        user-select: none;
        -webkit-user-select: none;
        animation: fade-in 1s ease-out;
    }

    img {
        display: none;
        width: 88%;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 25px;
        user-select: none;
        -webkit-user-select: none;
        animation: fade-in 1s ease-out;
    }

    .button1 {
        background-color: #555;
        color:#ffffff;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 43%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;
        animation: background;
        transition: transform 0.1s;
    }

    /* Button animation for mobile devices */
    .button1:active {
        background: #777;
        transition: 0.1s;
        transform: scale(0.98);
    }

    footer {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Media, width adaptation on computers */
@media (min-width: 769px) {
    header {
        background-color:#333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }

    button.menu-btn {
        background: none;
        border: none;
        color: #cccccc;
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
    }

    /* Sidebar button rotation animation */
    .rotacionado {
        transform: rotate(90deg);
    }
    
    .sidebar {
        width: 30%;
        height: 100%;
        background-color: #222;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        right: -35%;
        transition: right 0.5s ease;
        z-index: 9999;
    }

    .sidebar.open {
        right: 0;
    }

    .sidebar.open .overlay {
        display: block;
    }

    .content {
        margin-right: 0;
        transition: margin-right 0.5s ease;
        z-index: 9998;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 9997;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: #0096ff;
        font-family: "Lato", sans-serif;
        text-decoration: none;
    }

    nav ul .align-left {
        padding: 10px;
        text-align: left;
    }

    nav ul p {
        color: #dddddd;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
        margin: 0;
        bottom: 20px;
        user-select: none;
    }

    img.dailyImage {
        display: none;
        width: 50%;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
        user-select: none;
        -webkit-user-select: none;
        animation: fade-in 1s ease-out;
    }

    img {
        display: none;
        width: 50%;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 25px;
        user-select: none;
        -webkit-user-select: none;
        animation: fade-in 1s ease-out;
    }

    .button1 {
        background-color: #555;
        color:#ffffff;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        padding: 1em 0;
        border-radius: 30px;
        border: 10px;
        width: 25%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
        animation: background;
        transition: transform 1s;
    }

    /* Button animation for computers */
    .button1:hover {
        background: #777;
        transition: 1s;
        transform: scale(0.98);
    }

    footer {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Website content */
h1 {
    color: #a8a8a8;
    font-family: "Playfair Display", serif;
}

h2 {
    color: #d3d3d3;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    user-select: none;
}

h3 {
    color: #bcbcbc;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    user-select: none;
}

p.footer {
    color: #cccccc;
    font-family: "Roboto", sans-serif;
}

.gallery {
    text-align: center;
    margin: 1em 0;
}

.emphasis {
    display: block;
    overflow: visible;
}

.carousel {
    display: block;
    overflow: visible;
}

/* Initial image */
#imagem1 {
    display: block;
}

/* Developer link color */
a {
    color: #6f6969;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

/* Image animation */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}